$header-bg: hsl(239, 94, 19);
$section-bg: linear-gradient(to right, hsl(190, 74, 59), hsl(190, 77, 88));
$white: hsl(0, 0%, 100%);
$primary-btn-color: hsl(135, 63, 48);
$primary-btn-hover-color: hsl(135, 63, 56);
$secondary-btn-color: hsl(50, 100, 60);
$secondary-btn-hover-color: hsl(60, 100, 62);
$border-color: hsl(210, 16, 93);
$footer-bg: hsl(201, 100, 36);
$pause-btn-color: hsl(351, 73, 45);
$pause-btn-hover-color: hsl(352, 76, 50);